body {
    color: rgb(255, 255, 255);
    background-color: black;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}

#maintitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 2%;
    text-align: center;  
}

#div-generator {
    text-align: center;
}

/*
#abouttitle {
    font-family: fantasy;
    font-weight: bold;
    text-align: center;
    padding-top: 5%;
}

#about {
    text-align: center;
    padding-bottom: 5%;
}
*/

#formativeform {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#create {
    text-align: center;
}

#how2title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;
}

#how2c {
    font-weight: bold;
    text-align: left;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#how2b {
    text-align: left;
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#divider {
    width: 50%; 
    text-align: center;
}

ol li {
    padding: 0.5% 0.5%;
}