<!DOCTYPE html>
<html>
    <head>
        <title>How to Use</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div>
            <h1 id="how2title">How to Use</h1>
                
                <hr id = "divider"/>
                <p id="how2c">Generating a Schedule</p>
                <ol id="how2b">
                    <li>Select the date that you took notes on the subject, or approximate</li>
                    <li>Name Your Topic to Study</li>
                    <li>If Necessary, Briefly Describe Your Topic</li>
                    <li>Choose If You Want to Study on Weekends</li>
                    <li>Select a Time to Study</li>
                    <li>Click The 'Send It' Button & Download the .ics file</li>
                    <li>If no data is entered, example data will be generated.</li>
                    <li>To easily clear your input, select the 'Clear Form' option, and click the 'Send It' button</li>
                </ol>

                <hr id = "divider"/>
                <p id="how2c">Importing to Google Calender</p>
                <ol id="how2b">
                    <li>In Google Calender, click the 'Settings' icon in the top right</li>
                    <li>Click 'Settings'</li>
                    <li>On the left side, toward the middle, click 'Import & Export'</li>
                    <li>Click 'Select File'
                    <li>Select the new .ics file</li>
                    <li>To switch calenders when importing, change the 'Add to Calender' value</li>
                    <li>Click 'Import'</li>
                </ol>
        </div>
</body>